{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block content %}

	<!-- Slider main container -->
	<div class="swiper swiperMain">
		<div class="parallax-bg" data-swiper-parallax="-23%"></div>
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">

			<div class="swiper-slide swiper-slide1">
				<div class="title" data-swiper-parallax="-100" data-swiper-parallax-duration="600">Decouvrez la galaxie!</div>
				<div class="subtitle" data-swiper-parallax="-200" data-swiper-parallax-duration="600">Choisissez votre déstination sur notre carte de l'univers</div>

				{# galaxy API #}
				<div id="edmap" class="text" data-swiper-parallax="-300" data-swiper-parallax-duration="600"></div>
				{# <div id="debug"></div> #}
				<div id="loader">
					<svg width="100" height="100" viewbox="0 0 40 40"><path d="m5,8l5,8l5,-8z" class="l1 d1"/><path d="m5,8l5,-8l5,8z" class="l1 d2"/><path d="m10,0l5,8l5,-8z" class="l1 d3"/><path d="m15,8l5,-8l5,8z" class="l1 d4"/><path d="m20,0l5,8l5,-8z" class="l1 d5"/><path d="m25,8l5,-8l5,8z" class="l1 d6"/><path d="m25,8l5,8l5,-8z" class="l1 d7"/><path d="m30,16l5,-8l5,8z" class="l1 d8"/><path d="m30,16l5,8l5,-8z" class="l1 d9"/><path d="m25,24l5,-8l5,8z" class="l1 d10"/><path d="m25,24l5,8l5,-8z" class="l1 d11"/><path d="m20,32l5,-8l5,8z" class="l1 d13"/><path d="m15,24l5,8l5,-8z" class="l1 d14"/><path d="m10,32l5,-8l5,8z" class="l1 d15"/><path d="m5,24l5,8l5,-8z" class="l1 d16"/><path d="m5,24l5,-8l5,8z" class="l1 d17"/><path d="m0,16l5,8l5,-8z" class="l1 d18"/><path d="m0,16l5,-8l5,8z" class="l1 d19"/><path d="m10,16l5,-8l5,8z" class="l2 d0"/><path d="m15,8l5,8l5,-8z" class="l2 d3"/><path d="m20,16l5,-8l5,8z" class="l2 d6"/><path d="m20,16l5,8l5,-8z" class="l2 d9"/><path d="m15,24l5,-8l5,8z" class="l2 d12"/><path d="m10,16l5,8l5,-8z" class="l2 d15"/></svg>
				</div>

				<!-- jQuery -->
				<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
				<!-- Three.js -->
				<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js"></script>

				<!-- Launch ED3Dmap -->
				<link href="assets/ED3D-Galaxy-Map/css/styles.css" rel="stylesheet" type="text/css"/>
				<script src="assets/ED3D-Galaxy-Map/js/ed3dmap.min.js"></script>
				<script type="text/javascript">
Ed3d.init({
container: 'edmap',
basePath: '/assets/ED3D-Galaxy-Map/',
// jsonPath    : "https://www.edsm.net/api-v1/systems?coords=1&known=1&startdatetime="+queryDate,
jsonPath: "https://www.edsm.net/api-v1/systems?coords=1&known=1&startdatetime=",
withFullscreenToggle: true,
popupDetail: true,
showGalaxyInfos: false,
hudMultipleSelect: false,
effectScaleSystem: [
5, 3000
],
startAnim: true,
showGalaxyInfos: true,
systemColor: '#22AA22',
playerPos: [
0, 0, 0
],
cameraPos: [-12000, 12000, -20000]
});
				</script>
			</div>

			<div class="swiper-slide">
				<div class="title" data-swiper-parallax="-100" data-swiper-parallax-duration="600">Regardez ce qui vous attends sur Mars!</div>
				<div class="subtitle" data-swiper-parallax="-200" data-swiper-parallax-duration="600">Nos robots vous presentent les vues incroyables martiens a ne pas manquer!</div>
				<div class="text" data-swiper-parallax="-300" data-swiper-parallax-duration="600">
					<div class="swiper-container swiper-container-v">
						<div class="swiper-wrapper">
							{% for photo in rover.photos %}
								<div class="swiper-slide swiper-slide2" style="background-image: url('{{ photo.img_src }}')"></div>
							{% endfor %}
						</div>
						<div class="swiper-pagination swiper-pagination-v"></div>
						<div class="swiper-button-prevv swiper-button-white"></div>
						<div class="swiper-button-nextv swiper-button-white"></div>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="title" data-swiper-parallax="-100" data-swiper-parallax-duration="600">Quelques conseils...</div>
				<div class="subtitle" data-swiper-parallax="-200" data-swiper-parallax-duration="600">Nos experts vous proposent leurs meilleures solutions pour explorer les profondeurs de l'espace!</div>
				<div class="text text-background" data-swiper-parallax="-300" data-swiper-parallax-duration="600">
					<p>L'exploration de l'espace est l'un des plus grands défis de l'humanité. Depuis des décennies, nous avons cherché à comprendre l'univers qui nous entoure, à découvrir de nouvelles planètes et à en apprendre davantage sur les origines de la vie. Mais pour explorer les profondeurs de l'espace, nous devons trouver les meilleures solutions pour surmonter les défis techniques et financiers qui se dressent devant nous.</p>
<p>L'une des solutions les plus prometteuses pour explorer les profondeurs de l'espace est la propulsion électrique. Les moteurs électriques sont plus efficaces que les moteurs à combustion, ce qui signifie qu'ils peuvent parcourir de plus longues distances avec moins de carburant. Ils sont également plus fiables et ont une durée de vie plus longue, ce qui est crucial pour les missions d'exploration spatiale.</p>
<p>Enfin, la coopération internationale est une autre solution importante pour explorer les profondeurs de l'espace. Les pays peuvent travailler ensemble pour partager des ressources et des connaissances, ce qui peut réduire les coûts et augmenter l'efficacité des missions spatiales. La coopération internationale peut également favoriser la paix et la compréhension entre les nations.</p>
<p>En résumé, pour explorer les profondeurs de l'espace, nous avons besoin de solutions innovantes et de coopération internationale. La propulsion électrique, l'utilisation de robots et la coopération internationale sont toutes des solutions qui peuvent nous aider à relever les défis de l'exploration spatiale et à découvrir de nouveaux horizons dans l'univers.</p>
				</div>
			</div>
		</div>

		<!-- Add Scrollbar -->
		<div class="swiper-scrollbar"></div>
		<!-- Add Navigation -->
		<div class="swiper-button-prev swiper-button-white"></div>
		<div class="swiper-button-next swiper-button-white"></div>
	</div>

	<footer>
		<p>Terms and conditions</p>
	</footer>

{% endblock %}

{% block javascript %}
	<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
	<script src="/assets/js/swiperParallax.js"></script>
	<script src="/assets/js/innerSwiper.js"></script>
{% endblock %}
