{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block content %}

	<!-- Slider main container -->
	<div class="swiperMain">
		<div class="parallax-bg"  data-swiper-parallax="-23%"></div>
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">

			<div class="swiper-slide">
				<div class="title" data-swiper-parallax="-100">Slide 1</div>
				<div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
				<div class="text" data-swiper-parallax="-300" data-swiper-parallax-duration="600">
					<p>Lorem ipsum dolor sit amet, ...</p>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="title" data-swiper-parallax="-100">Slide 1</div>
				<div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
				<div class="text" data-swiper-parallax="-300" data-swiper-parallax-duration="600">
					<p>Lorem ipsum dolor sit amet, ...</p>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="title" data-swiper-parallax="-100">Slide 1</div>
				<div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
				<div class="text" data-swiper-parallax="-300" data-swiper-parallax-duration="600">
					<p>Lorem ipsum dolor sit amet, ...</p>
				</div>
			</div>

		</div>

		<!-- Add Scrollbar -->
		<div class="swiper-scrollbar"></div>
		<!-- Add Navigation -->
		<div class="swiper-button-prev swiper-button-white"></div>
		<div class="swiper-button-next swiper-button-white"></div>
	</div>


{% endblock %}

{% block javascript %}
	<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
	<script src="/assets/js/swiperParallax.js"></script>
{% endblock %}
