.header-img {
    display: flex;
    background-color: #1a1919;
    background-size: cover;
    background-position: center;

}

h1 {
    display: flex;
    align-self: center;
    align-items: center;
    margin: 0;
    font-size: 50px;
    padding: 5px 20px;
    color: #c7a975;
    z-index: 10000;
}

.container-star{
    z-index: -1;
}

.top {
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent 50%,
    white
  );
  position: absolute;
  top: 5%;
}

.top2 {
    top: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: linear-gradient(
      90deg,
      transparent 50%,
      whitesmoke
    );
    position: absolute;
    top: 8%;
  }

  .top3 {
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: linear-gradient(
      90deg,
      transparent 50%,
      white
    );
    position: absolute;
    top: 9%;
  }

  .top4 {
    top: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: linear-gradient(
      90deg,
      transparent 50%,
      azure
    );
    position: absolute;
    top: 20%;
  }

  .top5 {
    top: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: linear-gradient(
      90deg,
      transparent 50%,
      lightblue
    );
    position: absolute;
    top: 10%;
  }
.top6 {
    top: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: linear-gradient(
      90deg,
      transparent 50%,
      gray
    );
    position: absolute;
    top: 12%;
  }

  .top7 {
    top: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: linear-gradient(
      90deg,
      transparent 50%,
      lightblue
    );
    position: absolute;
    top: 16%;
  }

  .top8 {
    top: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: linear-gradient(
      90deg,
      transparent 50%,
      whitesmoke
    );
    position: absolute;
    top: 18%;
  }

  .top9 {
    top: 0;
    left: 0;
    width: 0;
    height: 8px;
    background: linear-gradient(
      90deg,
      transparent 50%,
      white
    );
    filter: brightness(150%);
    position: absolute;
    top: 8%;
  }

.top {
  animation: animateTop 1.5s ease-in-out infinite;
}

.top2 {
    animation: animateTop 3.5s ease-in-out infinite;
  }

.top3 {
    animation: animateTop 1.2s ease-in-out infinite;
}

.top4 {
    animation: animateTop 1.7s ease-in-out infinite;
  }

.top5 {
      animation: animateTop 2.3s ease-in-out infinite;
    }

.top6 {
      animation: animateTop 2.7s ease-in-out infinite;
  }

.top7 {
    animation: animateTop 3.1s ease-in-out infinite;
}

.top8 {
    animation: animateTop 3.3s ease-in-out infinite;
}

.top9 {
    animation: animateTop 3.7s ease-in-out infinite;
}

@keyframes animateTop {
  25% {
    width: 100%;
    opacity: 1;
  }

  30%,
  100% {
    opacity: 0;
  }
}

ul.errors {
    text-align: right;
    list-style-type: none;
    color: #c7a975;
    font-size: large;
    position: absolute;
    top: 0.5%;
    right: 0.5%;
}
