.header-img {
    background-image: url(/assets/images/space_placeholder.jpg);
    width: 100%;
    height: 30%;
    background-size: cover;
    background-position: center;
    cursor: url(https://cur.cursors-4u.net/mechanics/mec-1/mec5.cur), auto !important;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: rgba(9, 9, 9, 0.6);
    width: fit-content;
}




