@import 'header.css';

body {
    color: #f76c6c;
    margin: 0;
    box-sizing: border-box;
    font-family: Titillium web;
    background-color: #000;
}

:root {
    --main-color: black;
    --main-color2: white;
    --swiper-scrollbar-bg-color: rgb(252, 109, 109, 0.1);
    --swiper-scrollbar-drag-bg-color: rgb(252, 109, 109, 0.5);
    --swiper-navigation-color: #f76c6c;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.5;
    --swiper-pagination-color: #f76c6c;
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-bullet-width: 12px;
    --swiper-pagination-bullet-height: 12px;
}
