<div class="header-img">
<h1> SPACEHUB </h1>
<div class="search-form">
                <!-- Formulaire de recherche -->
                <form method="post">

                    <div class="form-group">
                        <label for="provenance">Planête de départ</label>
                        <input type="text" name="provenance" id="provenance" placeholder="Terre, Lune, ...">

                        <label for="arrivee">Planête d'arrivée</label>
                        <input type="text" name="arrivee" id="arrivee" placeholder="Mars, Jupiter, ...">
                    </div>

                    <div class="form-group">
                        <label for="depart">Date de départ</label>
                        <input type="date" name="depart" id="depart" value="13/04/2020">

                        <label for="retour">Date de Retour</label>
                        <input type="date" name="retour" id="retour" value="14/04/2020">
                    </div>

                    <div class="form-group">
                        <label for="adultes">Nombre d'adultes</label>
                        <select name="adultes" id="adultes">
                            <option selected="selected">0 Adulte</option>
                            <option>1 Adulte</option>
                            <option>2 Adultes</option>
                            <option>3 Adultes</option>
                            <option>4 Adultes</option>
                            <option>5 Adultes</option>
                        </select>

                        <label for="enfants">Nombre d'enfants</label>
                        <select name="enfants" id="enfants">
                            <option selected="selected">0 Enfant</option>
                            <option>1 Enfant</option>
                            <option>2 Enfants</option>
                            <option>3 Enfants</option>
                            <option>4 Enfants</option>
                            <option>5 Enfants</option>
                        </select>

                        <label for="type">Categorie</label>
                        <select name="type" id="type">
                            <option selected="selected">Classe Economique</option>
                            <option>Classe Affaires</option>
                        </select>
                    </div>

                    <div class="button-submit">
                        <input type="submit" value="Lancer la recherche" name="recherche" id="recherche">
                    </div>

                </form>
            </div>
</div>

